.footer-container {
  background: linear-gradient(to right, #050505, #021a0c, #050505);
  
  padding: 30px 0;
  
  border-top: 1px solid var(--cor-verde-principal);
  box-shadow: 0 -4px 15px rgba(3, 249, 120, 0.05); 
}

.footer-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
  opacity: 0.7;
}

.footer-socials {
  display: flex;
  gap: 25px; 
}

.footer-socials a {
  color: var(--cor-texto);
  font-size: 24px; 
  text-decoration: none;
  transition: all 0.2s ease;
}

.footer-socials a:hover {
  color: var(--cor-verde-principal);
  transform: scale(1.1);
}


@media (max-width: 900px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-copyright {
    order: 2; 
    text-align: center;
    font-size: 12px;
  }
  
  .footer-socials {
    order: 1;
  }
}