.header-container {
  background-color: var(--cor-fundo);
  width: 100%;
  position: relative; 
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1350px; 
  margin: 0 auto; 
  padding: 20px 40px; 
}

.nav-bar {
  border: 1px solid var(--cor-verde-principal);
  border-radius: 50px;
  padding: 10px 15px;
  flex-grow: 1; 
  margin-right: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  color: var(--cor-texto);
  text-decoration: none;
  font-weight:bold;
  font-size: 13px;
  padding: 5px 10px;
  letter-spacing: 1px;
}

.nav-links .em-breve {
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
  opacity: 0.7;
}

.controls-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.lang-switcher {
  border: 2px solid var(--cor-verde-principal);
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  cursor: pointer;
}

.theme-toggle {
  font-size: 30px;
  cursor: pointer;
}

.hamburger-menu {
  display: none; 
  background: none;
  border: none;
  color: var(--cor-texto);
  font-size: 30px;
  cursor: pointer;
}


@media (max-width: 900px) {

  .nav-bar, .controls-container {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }

  .header-wrapper {
    justify-content: flex-end;
  }

  .mobile-menu {
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0;
    
    background-color: var(--cor-fundo); 
    border-bottom: 2px solid var(--cor-verde-principal);
    padding: 20px 0; 

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 25px;
    
    z-index: 10; 
  }

  .mobile-menu a {
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  .mobile-menu .em-breve-mobile {
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 5px 15px;
    opacity: 0.7;
    font-size: 14px;
  }
}