@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.marquee-section-container {
  width: 100%;
  overflow: hidden; 
  padding: 70px 0; 
  background-color: var(--cor-fundo);
  position: relative; 
}

.marquee-band {
  position: absolute;
  width: 120%;
  left: -10%; 
  transform: rotate(-1.5deg); 

  padding: 10px 0;
  white-space: nowrap; 
}

.dark-band {
  background-color: #022915; 
  top: 30px; 
  z-index: 1; 
}

.light-band {
  background-color: #095f33;
  color: var(--cor-fundo);
  top: 55px;
  z-index: 2; 
}
.marquee-content {
  display: flex;
  animation: slide 30s linear infinite;
}

.marquee-item {
  display: flex; 
  align-items: center;
  gap: 10px;
  
  font-size: 16px;
  font-weight: 700; 
  padding: 0 40px; 
  text-transform: uppercase;
  letter-spacing: 1px;
}

.marquee-item svg {
  font-size: 20px; 
  fill: currentColor; 
}

.dark-band .marquee-content {
  opacity: 0;
}

@media (max-width: 900px) {

  .marquee-section-container {
    display: none;
  }

}


