@keyframes float-light {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.skills-container {
  padding: 80px 0;
  overflow: hidden; 
}
.skills-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}
.skills-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px auto;
}
.skills-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.skills-subtitle {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 25px; 
  max-width: 800px;
  margin: 0 auto; 
}

.skill-card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 25px 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  
  font-size: 14px;
  font-weight: 700;
  color: var(--cor-texto);
  
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
  animation: float-light 6s ease-in-out infinite;
}
.skill-card:nth-child(2) { animation-delay: -1s; }
.skill-card:nth-child(3) { animation-delay: -2s; }
.skill-card:nth-child(4) { animation-delay: -3s; }
.skill-card:nth-child(5) { animation-delay: -4s; }


.skill-card:hover {
  transform: scale(1.1) translateY(-5px); 
  box-shadow: 0 0 20px rgba(3, 249, 120, 0.2);
  cursor: pointer;
  animation-play-state: paused; 
}

.skill-card svg {
  font-size: 45px;
  color: var(--cor-verde-principal);
}

@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .skill-card {
    padding: 20px 10px;
  }
  .skill-card svg {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}